{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Cloud Service Providers</h1>
    <p class="lead">Select a provider to access its dashboard</p>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <div class="well">
            <h3>AWS</h3>
            <p>Amazon Web Services</p>
            <a href="{{ url_for('aws.aws_dashboard') }}" class="btn btn-default">Go to AWS</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>GCP</h3>
            <p>Google Cloud Platform</p>
            <a href="{{ url_for('GCP') }}" class="btn btn-default">Go to GCP</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>Microsoft Azure</h3>
            <p>Cloud services by Microsoft</p>
            <a href="{{ url_for('AZURE') }}" class="btn btn-default">Go to Azure</a>
        </div>
    </div>
</div>
{% endblock %}
